@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        -webkit-tap-highlight-color: #c6c6c696;
    }

    #root {
        margin: 0px auto;
        max-width: 640px;
        box-shadow: 0px 0px 20px 0px gray;
    }
}

/* @layer components {
} */

/* @layer utilities {
} */